body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e3f2fd;
  color: #fff;
}

.container {
  width: 780px;
  border-radius: 20px;
  padding: 35px 40px;
  background-color: #38230c;
  background-image: url("../image/Desenho-Textura-Madeira-PNG.png");
}

.container header {
  color: #d9f052;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
}

header .coluna {
  display: flex;
  align-items: center;
}

header .coluna span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}

.controle-volume input {
  accent-color: #fff;
}

.visualiza-teclas input {
  width: 60px;
  height: 30px;
  appearance: none;
  border-radius: 30px;
  background-color: #4b4b4b;
  cursor: pointer;
  position: relative;
}

.visualiza-teclas input::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #8c8c8c;
  top: 50%;
  left: 0.3rem;
  border-radius: inherit;
  position: absolute;
  transform: translateY(-50%);
  transition: all 0.35s ease;
}

.visualiza-teclas input:checked::before {
  left: 2.1rem;
  background-color: #fff;
}

.teclas-piano {
  display: flex;
  margin-top: 40px ;
  margin-left: 5%;
}

.teclas-piano .tecla {
  justify-items: center;
  cursor: pointer;
  user-select: none;
  list-style-type: none;
  color: #a2a2a2;
  position: relative;
  text-transform: uppercase;
}

.teclas-piano .brancas {
  width: 70px;
  height: 230px;
  border: 1px solid #000;
  border-radius: 10px;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.teclas-piano .brancas.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.teclas-piano .preto {
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border: 1px solid #fff;
  border-radius: 3px 3px 10px 10px;
  background: linear-gradient(#333, #000);
}

.teclas-piano .preto.active {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom #000, #434343);
}

.teclas-piano span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.13rem;
}

.teclas-piano .tecla.esconder span {
  display: none;
}
